<!--
<div class="signal" ngSwitch="color">
  <div class="container" *ngSwitchCase="'red'">
    <div class="circle" id="red"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="container" *ngSwitchCase="'yellow'">
    <div class="circle"></div>
    <div class="circle" id="yellow"></div>
    <div class="circle"></div>
  </div>
  <div class="container" *ngSwitchCase="'green'">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle" id="green"></div>
  </div>
  <div class="container" *ngSwitchDefault>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div> -->
<div class="container">
  <div class="circle1" [style.background-color]="color1"></div>
  <div class="circle2" [style.background-color]="color2"></div>
  <div class="circle3" [style.background-color]="color3"></div>
</div>

<div class="control">
  <button id="redBtn" (click)="red()">Red</button>
  <button id="yellowBtn" (click)="yellow()">Yellow</button>
  <button id="greenBtn" (click)="green()">Green</button>
</div>